{% extends "layout.html" %}

{% block content %}
  <div class="card bg-secondary">
    <h5 class="card-header">Tasks</h5>
    <div class="card-body">
      <div class="row" style="row-gap: 1rem">
        {% if tasks %}
          {% for task in tasks %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div
                  class="card bg-{% if task.is_finished %}dark{% else %}light{% endif %} text-{% if task.is_finished %}muted{% else %}dark{% endif %}"
                  {% if task.is_finished %}style="text-decoration: line-through"{% endif %}>
                <h5 class="card-header">
                  {{ task.name }}
                </h5>
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-user mr-2"></i>{{ task.user }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Until {{ task.end_date }}</h6>
                  <p class="card-text">{{ task.description|truncatechars:25 }}</p>
                </div>
                <div class="card-footer d-flex justify-content-end" style="column-gap: 1rem">
                  <a href="{% url 'view_task' task.id %}" class="btn btn-secondary"><i class="fas fa-eye"></i></a>
                  <a href="{% url 'edit_task' task.id %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                  <a href="{% url 'delete_task' task.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h4 class="container text-warning">No tasks</h4>
        {% endif %}
      </div>
    </div>
  </div>
  <a href="{% url 'new_task' %}" class="btn btn-primary mt-3">Add task</a>

{% endblock %}
