{% extends "layout.html" %}
{% block content %}
  <div
      class="card bg-{% if task.is_finished %}dark{% else %}light{% endif %} text-{% if task.is_finished %}muted{% else %}dark{% endif %}"
      {% if task.is_finished %}style="text-decoration: line-through"{% endif %}>
    <h5 class="card-header">
      {{ task.name }}
      <a href="{% url 'task_list' %}" class="btn btn-warning float-right"><i class="fas fa-undo"></i></a>
    </h5>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-user mr-2"></i>{{ task.user }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Created {{ task.creation_date }}<br>Until {{ task.end_date }}</h6>
      <p class="card-text">{{ task.description|truncatechars:25 }}</p>
    </div>
    <div class="card-footer d-flex justify-content-end" style="column-gap: 1rem">
      <a href="{% url 'edit_task' task.id %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
      <a href="{% url 'delete_task' task.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
    </div>
  </div>
{% endblock %}
