{% extends "layout.html" %}

{% block content %}
  <div class="card bg-secondary">
    <h5 class="card-header">Users</h5>
    <div class="card-body">
      <div class="row" style="row-gap: 1rem">
        {% if users %}
          {% for user in users %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="card bg-light text-dark">
                <h5 class="card-header">
                  {{ user.name }}
                </h5>
                <div class="card-body">
                  <h5 class="card-text"><i class="fas fa-envelope mr-2"></i>{{ user.email }}</h5>
                </div>
                <div class="card-footer d-flex justify-content-end" style="column-gap: 1rem">
                  <a href="{% url 'edit_user' user.id %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                  <a href="{% url 'delete_user' user.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h4 class="container text-warning">No users</h4>
        {% endif %}
      </div>
    </div>
  </div>
  <a href="{% url 'new_task' %}" class="btn btn-primary mt-3">Add user</a>

{% endblock %}
