{% extends "layout.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="card bg-secondary">
        <h3 class="card-header">New task</h3>
        <div class="card-body">
            <form class="form-horizontal" role="form" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {% if field.label != "Closed" %}
                                    {{ field|attr:"class:form-control" }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="col-md-10">
                                {% if field.label != "Is finished" %}
                                    {{ field|attr:"class:form-control" }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% if field.help_text %}
                                    <p class="help-block"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}