{% extends "layout.html" %}

{% block content %}
<h3>New user</h3>

{% load widget_tweaks %}

<form class="form-horizontal" role="form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="form-group has-error">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {% if field.label != "Closed" %}
                    {{ field|attr:"class:form-control" }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    <span class="help-block">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {% if field.label != "Closed" %}
                    {{ field|attr:"class:form-control" }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
