{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DjangoTasks</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/fa.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-dark">
<header class="mb-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="/">DjangoTasks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'task_list' %}">Tasks</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'user_list' %}">Users</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
</main>
<footer class="mt-3 mr-3 text-right text-secondary"><h6>Lucas Mirloup - LP 12</h6></footer>
</body>
</html>